.logo{
    width: 50%;
}

@media all and (min-width : 768px)  {
    .logo{
        width: 25%;
    }
        
}

.fas{
    margin-top: 150px;
    margin-bottom: 150px;
}

.flex{
width: 20%;
}

.photo_utilisateur{
    object-fit: cover;
    height: 60px;
    
}

.font_size{
    font-size: 11px;
}

@media all and (min-width: 768px){
    .font_size{
        font-size: 12px;
    } 
}

.params_button{
    border-radius: 15px;
    background-color: #fd2d01;
    padding: 10px;
    font-weight: bolder;
    color: white;
}